* {
  border-color: var(--divider-secondary-color);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: var(--selection-color);
}

body {
  @apply text-primary bg-primary;
}
