* {
  border-color: var(--divider-secondary-color);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: var(--selection-color);
}

body {
  @apply text-primary bg-primary;
}

[id] {
  @apply scroll-mt-20 scroll-smooth;
}

.medium-zoom-image--opened {
  @apply z-50;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search li.active a:first-child {
  @apply text-accent;
}
