@import '@docsearch/css';

.DocSearch {
  --docsearch-primary-color: var(--accent-color);
  --docsearch-highlight-color: var(--accent-color);
  --docsearch-text-color: var(--text-color);
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-key-gradient: transparent;
  --docsearch-muted-color: var(--text-secondary-color);
  --docsearch-searchbox-shadow: none;
  --docsearch-modal-shadow: none;
  --docsearch-hit-shadow: none;
  --docsearch-key-shadow: none;
}

.dark .DocSearch {
  --docsearch-primary-color: var(--accent-color);
  --docsearch-container-background: var(--bg-transparent);
  --docsearch-modal-background: var(--bg-color);
  --docsearch-modal-shadow: none;
  --docsearch-hit-color: var(--text-color);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: var(--bg-secondary-color);
  --docsearch-key-shadow: none;
  --docsearch-footer-background: var(--bg-transparent);
  --docsearch-footer-shadow: none;
  --docsearch-logo-color: var(--text-color);
  --docsearch-muted-color: var(--text-secondary-color);
}

.dark .DocSearch-Footer {
  @apply border-t;
}

.dark .DocSearch-Form {
  background-color: var(--vt-c-bg-mute);
}

.DocSearch-Container {
  @apply fixed;
}

.DocSearch-Button {
  @apply flex ml-0 p-2 lg:ml-4 rounded-lg border bg-transparent md:bg-secondary md:hover:bg-secondary;

  .DocSearch-Button-Container {
    .DocSearch-Search-Icon {
      @apply w-5 text-primary font-medium md:w-3.5 mr-0 md:mr-1 md:text-secondary group-hover:text-primary;
    }

    .DocSearch-Button-Placeholder {
      @apply text-sm font-normal lg:mr-6 group-hover:text-primary;
    }
  }

  .DocSearch-Button-Keys {
    @apply hidden md:block flex px-1 py-0.5 bg-primary border rounded-md min-w-fit;

    .DocSearch-Button-Key {
      @apply w-auto text-xs leading-5 md:inline-block group-hover:text-accent;
    }
  }
}
.DocSearch-Form {
  @apply bg-primary border rounded-md;
}
