.prose {
  @apply text-primary w-full;

  strong,
  ol > li::marker,
  ul > li::marker,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  figcaption,
  code,
  a code,
  pre,
  thead,
  thead th {
    color: unset;
  }

  [id] {
    @apply scroll-mt-20;
  }

  hr {
    border-color: var(--dividers-color);
  }

  del {
    @apply text-secondary;
  }

  blockquote {
    @apply relative ml-1 block border-0 pl-6 font-normal not-italic;

    quotes: none;

    &:before {
      @apply absolute top-0 left-0 h-full w-[3px] rounded-sm bg-accent;

      content: '';
    }
  }

  a {
    @apply font-normal text-accent no-underline hover:underline;

    word-break: break-word;
    word-wrap: break-word;
  }

  img {
    @apply max-w-full rounded-md;
  }

 ul > li::marker {
    @apply text-secondary;
  }

  ol > li::marker {
    @apply text-secondary;
  }

  .contains-task-list {
    li {
      @apply p-0 before:hidden;
    }
  }

  code {
    @apply rounded px-1 py-0.5 font-normal bg-secondary;

    &:after {
      content: '';
    }

    &:before {
      content: '';
    }
  }

  pre {
    @apply block w-full overflow-x-scroll rounded p-2 bg-secondary;
  }

  table {
    @apply w-full table-auto border-separate overflow-x-scroll rounded border;

    border-spacing: 0;
  }

  thead,
  tr:nth-child(even) {
    @apply bg-secondary;
  }

  thead,
  tbody {
    th,
    td {
      @apply border-r p-2 text-left last-of-type:border-0;

      &:first-child,
      &:last-child {
        @apply p-2;
      }
    }
  }

  th[align='center'],
  td[align='center'] {
    text-align: center;
  }

  th[align='right'],
  td[align='right'] {
    text-align: right;
  }

  //.footnote-ref sup {
  //  @apply m-0.5;
  //
  //  &:before {
  //    content: '[';
  //  }
  //
  //  &:after {
  //    content: ']';
  //  }
  //}

  pre,
  table {
    &::-webkit-scrollbar {
      @apply hidden;
    }

    // IE and Edge
    -ms-overflow-style: none;
    // Firefox
    scrollbar-width: none;
  }

  iframe {
    @apply max-w-full;
  }

  .anchor {
    @apply absolute -ml-5 w-full max-w-2xl no-underline opacity-0 transition-opacity;

    &:after {
      content: '#';
    }

    &:hover {
      @apply no-underline md:opacity-100;
    }
  }

  *:hover > .anchor {
    @apply md:opacity-100;
  }

  h4,
  h5,
  h6 {
    .anchor {
      @apply -ml-4;
    }
  }

  .info {
    @apply rounded-md border border-green-100 bg-green-50 p-3 dark:border-opacity-10 dark:bg-opacity-10;
  }

  .warning {
    @apply rounded-md border border-yellow-200 bg-yellow-100 p-3 dark:border-opacity-20 dark:bg-opacity-20;
  }

  //.data-footnote-backref {
  //  @apply ml-1 font-mono;
  //}
}

.code-highlight {
  .string,
  .selector,
  .attr-name,
  .char,
  .builtin,
  .inserted {
    color: var(--code-string-color);
  }

  .comment,
  .prolog,
  .doctype,
  .cdata {
    color: var(--code-comment-color);
  }

  .number,
  .boolean {
    color: var(--code-number-color);
  }

  .atrule,
  .rule,
  .attr-value,
  .class-name,
  .regex,
  .important,
  .variable {
    color: var(--code-function-color);
  }

  .function,
  .class,
  .interpolation {
    color: var(--code-function-color);
  }

  .keyword {
    color: var(--code-keyword-color);
  }

  .property,
  .tag,
  .constant,
  .symbol,
  .deleted {
    color: var(--code-constant-color);
  }

  .macro,
  .entity,
  .operator,
  .url {
    color: var(--code-entity-color);
  }
}

.dark .prose img {
  filter: brightness(0.8);
}
