.prose {
  @apply text-primary;

  strong,
  ol > li::marker,
  ul > li::marker,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  figcaption,
  code,
  a code,
  pre,
  thead,
  thead th {
    color: unset;
  }

  hr {
    border-color: var(--dividers-color);
  }

  del {
    @apply text-secondary;
  }

  blockquote {
    @apply block relative ml-1 pl-6 border-0 font-normal not-italic;

    quotes: none;

    &:before {
      @apply absolute top-0 left-0 h-full w-[3px] rounded-sm bg-accent;

      content: '';
    }
  }

  a {
    @apply text-accent font-normal no-underline hover:underline;
  }

  img {
    @apply max-w-full rounded-md;
  }

  ul > li::before {
    @apply bg-accent;
  }

  ol > li::before {
    @apply text-accent;
  }

  .contains-task-list {
    li {
      @apply p-0 before:hidden;
    }
  }

  code {
    @apply px-1 py-0.5 rounded font-normal bg-secondary;

    &:after {
      content: '';
    }

    &:before {
      content: '';
    }
  }

  pre {
    @apply block overflow-x-scroll w-full p-2 bg-secondary rounded;
  }

  table {
    @apply overflow-x-scroll w-full table-auto border border-separate rounded;

    border-spacing: 0;
  }

  thead,
  tr:nth-child(even) {
    @apply bg-secondary;
  }

  thead,
  tbody {
    th,
    td {
      @apply p-2 border-r text-left last-of-type:border-0;

      &:first-child,
      &:last-child {
        @apply p-2;
      }
    }
  }

  th[align='center'],
  td[align='center'] {
    text-align: center;
  }

  th[align='right'],
  td[align='right'] {
    text-align: right;
  }

  //.footnote-ref sup {
  //  @apply m-0.5;
  //
  //  &:before {
  //    content: '[';
  //  }
  //
  //  &:after {
  //    content: ']';
  //  }
  //}

  .footnotes {
    //@apply text-sm text-secondary;

    hr {
      display: none;
    }

    .footnote-back {
      @apply ml-1 font-mono;
    }
  }

  pre,
  table {
    &::-webkit-scrollbar {
      @apply hidden;
    }

    // IE and Edge
    -ms-overflow-style: none;
    // Firefox
    scrollbar-width: none;
  }
}

.code-highlight {
  .string,
  .selector,
  .attr-name,
  .char,
  .builtin,
  .inserted {
    color: var(--code-string-color);
  }

  .comment,
  .prolog,
  .doctype,
  .cdata {
    color: var(--code-comment-color);
  }

  .number,
  .boolean {
    color: var(--code-number-color);
  }

  .atrule,
  .rule,
  .attr-value,
  .class-name,
  .regex,
  .important,
  .variable {
    color: var(--code-function-color);
  }

  .function,
  .class,
  .interpolation {
    color: var(--code-function-color);
  }

  .keyword {
    color: var(--code-keyword-color);
  }

  .property,
  .tag,
  .constant,
  .symbol,
  .deleted {
    color: var(--code-constant-color);
  }

  .macro,
  .entity,
  .operator,
  .url {
    color: var(--code-entity-color);
  }
}

html[data-theme='dark'] .prose img {
  filter: brightness(0.8);
}
