:root {
  --text-color: #102a43;
  --text-secondary-color: #9fb3c8;
  --text-tertiary-color: #bcccdc;

  --divider-color: rgba(60, 60, 60, 0.29);
  --divider-secondary-color: rgba(60, 60, 60, 0.12);

  --bg-color: #fff;
  --bg-secondary-color: #f0f4f8;
  --bg-tertiary-color: #d9e2ec;
  --bg-transparent-color: rgba(255, 255, 255, 0.8);
  --bg-accent-color: rgb(66, 184, 131, 0.1);

  --accent-color: #3ebd93;
  --accent-highlight-color: #effcf6;
  --selection-color: #b4d8fe;

  --code-comment-color: #65798c;
  --code-constant-color: #0095c9;
  --code-number-color: #0095c9;
  --code-string-color: #d12f1b;
  --code-entity-color: #4a838b;
  --code-keyword-color: #ad3da4;
  --code-function-color: #4a838b;
  --code-variable-color: #4a838b;

  --border-color: rgba(0, 0, 0, 0.15);
  --dividers-color: rgba(0, 0, 0, 0.06);
}

.dark {
  --text-color: #f0f4f8;
  --text-secondary-color: #d9e2ec;
  --text-tertiary-color: #bcccdc;

  --divider-color: rgba(84, 84, 84, 0.65);
  --divider-secondary-color: rgba(84, 84, 84, 0.48);

  --bg-color: #1a1a1a;
  --bg-secondary-color: #242424;
  --bg-tertiary-color: #2f2f2f;
  --bg-transparent-color: rgba(28, 28, 30, 0.7);

  --accent-highlight-color: #014d40;
  --selection-color: #40628a;

  --code-comment-color: #7f8c97;
  --code-constant-color: #0095c9;
  --code-number-color: #e6945e;
  --code-string-color: #e6945e;
  --code-entity-color: #70b8d7;
  --code-keyword-color: #70b8d7;
  --code-function-color: #aac97f;
  --code-variable-color: #17a8db;
}
