:root {
  --text-color: #34495e;
  --text-secondary-color: rgba(60, 60, 60, 0.7);
  --text-tertiary-color: rgba(60, 60, 60, 0.33);

  --divider-color: rgba(60, 60, 60, 0.29);
  --divider-secondary-color: rgba(60, 60, 60, 0.12);

  --bg-color: #fff;
  --bg-secondary-color: #f9f9f9;
  --bg-tertiary-color: #f1f1f1;
  --bg-transparent-color: rgba(255, 255, 255, 0.8);

  --accent-color: #42b883;
  --accent-highlight-color: #33a06f;
  --selection-color: #b4d8fe;

  --code-comment-color: #65798c;
  --code-constant-color: #0095c9;
  --code-number-color: #0095c9;
  --code-string-color: #d12f1b;
  --code-entity-color: #4a838b;
  --code-keyword-color: #ad3da4;
  --code-function-color: #4a838b;
  --code-variable-color: #4a838b;

  --docsearch-primary-color: var(--accent-color);
  --docsearch-text-color: var(--text-color);

  --border-color: rgba(0, 0, 0, 0.15);
  --dividers-color: rgba(0, 0, 0, 0.06);
}

.dark {
  --text-color: rgba(255, 255, 255, 0.87);
  --text-secondary-color: rgba(235, 235, 235, 0.6);
  --text-tertiary-color: rgba(235, 235, 235, 0.38);

  --divider-color: rgba(84, 84, 84, 0.65);
  --divider-secondary-color: rgba(84, 84, 84, 0.48);

  --bg-color: #1a1a1a;
  --bg-secondary-color: #242424;
  --bg-tertiary-color: #2f2f2f;
  --bg-transparent-color: rgba(28, 28, 30, 0.7);

  --selection-color: #40628a;

  --code-comment-color: #7f8c97;
  --code-constant-color: #0095c9;
  --code-number-color: #e6945e;
  --code-string-color: #e6945e;
  --code-entity-color: #70b8d7;
  --code-keyword-color: #70b8d7;
  --code-function-color: #aac97f;
  --code-variable-color: #17a8db;
}
